/* generated styling of input element */
input[type=range] {
  width: 12vw;
  min-width: 100px;
  -webkit-appearance: none;
  margin: 10px 0;
  height: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 100%;
  width: 12vw;
  min-width: 100px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #399429;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  width: 12vw;
  min-width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #399429;
}
input[type=range]::-moz-range-track {
  height: 100%;
  width: 12vw;
  min-width: 100px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #399429;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  width: 12vw;
  min-width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  height: 100%;
  width: 12vw;
  min-width: 100px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #399429;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #399429;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  width: 12vw;
  min-width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #399429;
}
input[type=range]:focus::-ms-fill-upper {
  background: #399429;
}

/* general styling */
body {
  height: 100vh;
  background: black;
  color: white;
  font-family: sans-serif;
}

.container {
  width: 70%;
  min-height: 80%;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.slider-container {
  flex-grow: 3;
}

.label-container {
  flex-grow: 1;
}

/* custom styling for disabled slider */
input[type=range].disabled::-moz-range-track {
  background: #a2a6a1;
}

input[type=range].disabled::-webkit-slider-runnable-track {
  background: #a2a6a1;
}

input[type=range].disabled::-webkit-slider-runnable-track {
  background: #a2a6a1;
}

input[type=range].disabled:focus::-webkit-slider-runnable-track {
  background: #a2a6a1;
}

input[type=range].disabled::-ms-fill-lower {
  background: #a2a6a1;
}

input[type=range].disabled::-ms-fill-upper {
  background: #a2a6a1;
}

input[type=range].disabled:focus::-ms-fill-lower {
  background: #a2a6a1;
}

input[type=range].disabled:focus::-ms-fill-upper {
  background: #a2a6a1;
}